{
  "log": {
    "level": "info",
    "timestamp": true
  },
  "inbounds": [
    {
      "type": "mixed",
      "tag": "mixed-in",
      "listen": "${ANYTLS_LISTEN_HOST}",
      "listen_port": ${ANYTLS_LISTEN_PORT}
    }
  ],
  "outbounds": [
    {
      "type": "anytls",
      "tag": "anytls-out",
      "server": "${ANYTLS_SERVER}",
      "server_port": ${ANYTLS_SERVER_PORT},
      "password": "${ANYTLS_PASSWORD}",
      "tls": {
        "enabled": true,
        "server_name": "${ANYTLS_SNI}",
        "insecure": ${ANYTLS_TLS_INSECURE}
      }
    }
  ]
}
